{% extends "admin_base.html" %}

{% block title %}
<title>TT - View Movies </title>
{% endblock %}

{% block styles %}
<style>
    .key-value-pair {
        margin-bottom: 1rem;
    }
    .key {
        display: inline-block;
        width: 20%;
        /* Adjust as needed for your key width */
        vertical-align: top;
    }
    .values {
        display: inline-block;
        width: 75%;
        /* Adjust for alignment with the key */
        word-wrap: break-word;
        /* Ensure values wrap correctly */
        padding-left: 1rem;
        /* Indent continuation lines */
    }
</style>
{% endblock %}




{% block admin_activities %}
<h4 class="is-size-4">Movies Filters</h3>
<div class="box" style="background-color: #24292e; --bulma-box-shadow: none; --bulma-box-padding: 1rem;">
    <form action="{{ url_for('admin.movie_search') }}" id="movie_filter_form" class="form-class" method="POST">
        <div class="columns is-multiline is-align-items-center">

            <!-- Deprioritization Filter -->
            <div class="column is-one-quarter">
                <label class="label">Hide Deprioritized</label>
                <div class="control">
                    <label class="checkbox">
                        <input id="toggle_depri" name="toggle_depri" type="checkbox" {% if
                            filters.admin_ind_twisted_depri==False %} checked {% endif %} />
                        Hide Deprioritized Movies
                    </label>
                </div>
            </div>

            <!-- Search by Title -->
            <div class="column">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" type="text" name="title" placeholder="Search by title">
                </div>
            </div>

            <!-- Checkboxes -->
            <div class="column">
                <div class="control">
                    <label class="checkbox">
                        <input id="diff_easy" name="diff_easy" type="checkbox" {% if 1 in filters.difficulty %} checked
                            {% endif %} />Easy</label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input id="diff_med" name="diff_med" type="checkbox" {% if 2 in filters.difficulty %} checked {%
                            endif %} />Medium</label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input id="diff_hard" name="diff_hard" type="checkbox" {% if 3 in filters.difficulty %} checked
                            {% endif %} />Hard</label>
                </div>
            </div>

            <div class="column">
            </div>

            <!-- Search Button -->
            <div class="column">
                <div class="control">
                    <button class="button is-info" name="movie_filter_submit" type="submit">Search</button>
                </div>
            </div>

        </div>
    </form>
</div>

<hr>

<div class="grid is-col-min-10">
    {% for movie in movie_list.values() %}
    <div class="cell">

        <div class="card">
            <form action="{{ url_for('admin.update_movies') }}" id="form_{{ movie.id }}" method="POST"
                class="form-class">
                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                <input type="hidden" name="movie_title" value="{{ movie.title }}">
                <header class="card-header">
                    <p class="card-header-title">{{ movie.title }}</p>
                    <div style="padding: var(--bulma-card-header-padding);">
                        {% if movie.difficulty == 1 %}
                        <span class="tag is-success">easy</span>
                        {% elif movie.difficulty == 2 %}
                        <span class="tag is-warning">medium</span>
                        {% else %}
                        <span class="tag is-danger">hard</span>
                        {% endif %}
                    </div>
                </header>
                <div class="card-content">
                    <div class="content">


                        <p>Clue Count: {{ movie.clue_count or 0 }}</p>
                        <p>Movie Popularity: {{ movie.vote_count or 0 }}</p>
                        <div class="box"
                            style="background-color: #24292e; --bulma-box-shadow: none; --bulma-box-padding: 1rem;">
                            <p class="is-family-monospace"><strong>Potential Twists:</strong></p>
                            {% for key, values in movie.word_neighbors.items() %}
                            <div class="key-value-pair is-family-code is-size-7	">
                                <strong class="key">{{ key }}: </strong>
                                <span class="values">
                                    {% for value in values %}
                                    {{ value }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </span>
                            </div>
                            {% endfor %}
                        </div>

                        {% if movie.clue_error %}
                        <p class="has-text-danger is-size-7">{{ movie.clue_error }}</p>
                        {% elif movie.clue_proposal_success %}
                        <p class="has-text-success is-size-7">{{ movie.clue_proposal_success }}</p>

                        {% endif %}
                        <div class="field has-addons">
                            <div class="control  is-expanded">
                                <input class="input is-primary" type="text" placeholder="Twisted Title"
                                    name="twisted_title" style="text-transform:uppercase;font-size: 0.8rem;"
                                    autocomplete="off" {% if movie.twist_clue_attempt %}
                                    value="{{ movie.twist_clue_attempt }}" {% endif %} />
                            </div>
                            <div class="control">
                                <button type="submit" name="generate_gpt_response" class="button is-light"
                                    style="font-size: 0.8rem;">ChatGPT</button>
                            </div>
                        </div>
                        <textarea class="textarea is-size-7" placeholder="Twisted Description / Clue"
                            style="margin-bottom: .5rem;" id="twisted_description"
                            name="twisted_description">{{ movie.gpt_response }}</textarea>
                        <br>
                        <label class="checkbox">
                            <input id="deprioritize_flag" name="deprioritize_flag" type="checkbox" {% if
                                movie.admin_ind_twisted_depri %} checked {% endif %} />
                            &nbsp;&nbsp;&nbsp;Deprioritize movie
                        </label>
                    </div>
                </div>
                <footer class="card-footer">
                    <button type="submit" name="save_movie_attr" class="card-footer-item">Save Details</button>
                    <button type="submit" name="propose_clue" class="card-footer-item">Propose Clue</button>
                </footer>
            </form>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}


{% block final_scripts %}
{% endblock %}